<div id="helpSplashModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" id="helpSplashHeader">
                <div class="container-fluid">
                    HEADER
                </div>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                  BODY
                </div>
            </div>

            <div class="modal-footer">
                FOOTER
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->