<div class="container-fluid">
    <div class="row" style="padding-top:5px">
        <div id="headerBar">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div id="searchBar"></div>
                    </div>
                </div><!-- /.row -->
            </div>

            <div class="col-md-6">
                <div class="btn-toolbar" role="toolbar">
                    

                    <div class="btn-group baseMapToggle">

                        <button type="button" id="solarButton" class="btn btn-default btn-group_leftButton activeButton appButton">Solar</button>
                        <button type="button" id="aerialButton" class="btn btn-default appButton">Aerial</button>
                        <button type="button" id="streetButton" class="btn btn-default appButton btn-group_rightButton">Streets</button>
                    </div>

                    <div class="btn-group homeFindButtons">
                        <button type="button" class="btn btn-default menuButton appButton iconButton" id="homeButton">
                            <img src="assets/images/home_icon.png">
                            <div class="iconLabel ">Home</div>
                        </button>
                        <button type="button" class="btn btn-default menuButton appButton iconButton" id="currentLoc">
                          <img src="assets/images/location_icon_ios_2.png">
                          <div class="iconLabel">Find Me</div>
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle menuButton appButton iconButton" data-toggle="dropdown" id="menuButton">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>

                    <div class="dropdown" style="float:right; margin-right:20px;">
                        <div class="btn-group">
                            <!-- <button type="button" class="btn btn-default dropdown-toggle menuButton appButton" data-toggle="dropdown">
                                Menu
                                <span>
                                    <i class="fa fa-caret-down"></i>
                                <i class="fa fa-bars"></i>
                                <!-- </span>
                            </button> -->

                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1" style="top:47px">
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <div id="helpMenu">
                                        <a role="menuitem" tabindex="-1" href="#">HELP</a>
                                    </div>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <div id="helpImageContainer">
                                        <div class="helpImage">
                                            <a href="http://www.esri.com" target="_blank"><img src="assets/images/powered-by-esri-logo-med.png"></a>
                                        </div>
                                        <div class="helpImage">
                                            <a href="http://www.umn.edu" target="_blanl"><img src="assets/images/UMN_M_white.gif" style="margin-left:20px"></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>